<div class="text-center m-5">

    <h1 class="m-5">Bienvenido a la App de Usuarios</h1>

    <div>
        <figure>
            <img src="https://files.winsports.co/assets/public/styles/grande_mobile_475x218/public/2023-07/messi%20inter%20miami%20h%20%281%29.jpg.webp?itok=M4N6wlUM" alt="messi en Inter">
        </figure>
        <figcaption>Messi en el Inter de Miami</figcaption>
    </div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sed voluptate, ipsam voluptas voluptates quidem.
        Dolores, quidem. Dolores, quidem. Dolores, quidem. Dolores, quidem. Dolores, quidem. Dolores, quidem
    </p>

</div>