<h1 class="m-5 text-center">
    {{message}}
</h1>

<div class="m-5 text-center">
    <img src="https://martinbrainon.com/inicio/wp-content/uploads/2018/01/lead-nuclear-power-human-error-homer-simpson-1.jpg" alt="imagen de error" srcset="">
</div>